.heroes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 12rem;
}
.heroes li {
  cursor: pointer;
  background-color: #eee;
  margin: 0.5rem;
  height: 1.8rem;
  border-radius: 4px;
  line-height: 1.7rem;
}
.heroes li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}
.heroes li.selected {
  background-color: black;
  color: white;
}
.heroes li.selected:hover {
  background-color: #505050;
  color: white;
}
.heroes li.selected:active {
  background-color: black;
  color: white;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #405061;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  height: 1.6rem;
  border-radius: 4px 0 0 4px;
}

input {
  padding: 0.5rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.add-button:hover {
  color: white;
  background-color: #42545c;
  cursor: pointer;
}

button.delete {
  background-color: white;
  border-radius: 4px;
  color: #525252;
  font-size: 1rem;
}

button.delete:hover {
  background-color: #525252;
  color: white;
  cursor: pointer;
}
